/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  background: #ffffff;
  color: #2e4045;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 80vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

h1 {
  font-family: 'Cardo', serif;
  font-weight: 700;
  font-size: 36px;
  font-variant: small-caps;
}

a {
  color: #66afad;
  text-decoration: underline;
}

a:visited {
  color: #83adb5;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #2e4045;
  text-decoration: none;
}

.bg-custom {
  background-color: rgba(255, 255, 255, 1);
}

.navbar {
  border-bottom: 1px solid #66afad;
}

.img_logo {
  max-width: 200px;
}

.img_logo:hover,
.img_logo:focus {
  opacity: 0.7;
}

.navbar-nav li {
  color: #2e4045;
  margin-right: 50px;
}

.navbar-nav a {
  text-decoration: none;
}

section#home-page {
  padding-top: 120px;
}

section {
  margin-top: 150px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.portrait_img {
  float: left;
  width: 250px;
  margin-right: 3em;
  border-radius: 40%;
}

#hello-heading {
  margin: 20px;
}

#my-code-button {
  margin: 20px;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #2e4045;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.7s opacity;
  -o-transition: 0.7s opacity;
  transition: 0.7s opacity;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #2e4045;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.7s opacity;
  -o-transition: 0.7s opacity;
  transition: 0.7s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.7;
}

.skills-list {
  font-weight: 700;
}

svg {
  margin: 0 auto;
}

@-webkit-keyframes bird1-move {
  from {
    -webkit-transform: translate(-2px, -69px);
            transform: translate(-2px, -69px);
  }

  to {
    -webkit-transform: translate(10px, -75px);
            transform: translate(10px, -75px);
  }
}

@keyframes bird1-move {
  from {
    -webkit-transform: translate(-2px, -69px);
            transform: translate(-2px, -69px);
  }

  to {
    -webkit-transform: translate(10px, -75px);
            transform: translate(10px, -75px);
  }
}

.bird_1 {
  -webkit-animation: 6s bird1-move infinite alternate linear;
          animation: 6s bird1-move infinite alternate linear;
}

@-webkit-keyframes bird2-move {
  from {
    -webkit-transform: translate(-2px, -69px);
            transform: translate(-2px, -69px);
  }

  to {
    -webkit-transform: translate(-10px, -75px);
            transform: translate(-10px, -75px);
  }
}

@keyframes bird2-move {
  from {
    -webkit-transform: translate(-2px, -69px);
            transform: translate(-2px, -69px);
  }

  to {
    -webkit-transform: translate(-10px, -75px);
            transform: translate(-10px, -75px);
  }
}

.bird_2 {
  -webkit-animation: 10s bird2-move infinite alternate linear;
          animation: 10s bird2-move infinite alternate linear;
}

/* Grid fallback - how to code */
.grid_item {
  display: inline-block;
  width: 33%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px;
}

.grid_item {
  background-color: #2e4045;
  color: #ffffff;
  padding: 10px;
  width: auto;
}

.grid_item:first-child {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.grid_item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.chat_thumbnail {
  width: 175px;
  height: 300px;
  padding: 15px;
}

.movie_thumbnail {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 220px;
  padding: 15px;
}

#contact-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px;
  text-align: left;
}

.standard-label {
  display: block;
}

#contact-name,
#contact-email,
#contact-message {
  display: block;
  width: 95%;
  margin: 15px;
}

.send-button {
  margin: 15px;
}

.error-message {
  color: #d80d0d;
  font-size: 15px;
}

.is-hidden {
  display: none;
}

.skype_email_links a {
  color: #66afad;
}

.page_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;     
}

.page_footer a {
  text-decoration: none;
}

.social-media_item:hover img {
  width: 40px;
  height: 40px;
}

.social-media_item:focus img {
  width: 40px;
  height: 40px;
}

@media all and (max-width: 580px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .navbar-nav li {
    margin: 0 auto;
  }

  section#home-page {
    margin-top: 100px;
  }

  .profile {
    margin: 0 auto;
  }

  .portrait_img {
    float: none;
    margin: 25px auto;
  }

  .img_logo {
    max-width: 120px;
    max-height: 25px;
    }

  svg {
    max-width: 300px;
  }

  body {
    font-size: 0.9em;
  }

  .page_footer {
    margin-top: 30px;
  }

  .chat_thumbnail {
    width: 125px;
    height: 250px;
    padding: 10px;
  }

}

@media all and (min-width: 580px) and (max-width: 800px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 800px) {
  .grid_item:first-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

}
